.calculate {
    margin: 0;
    height: 90vh;
    overflow: scroll;
}

.currentTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0
}

.containerOptionButtons{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2rem
}

.containerOptionButtons h4 {
    font-size: 1.25rem;
}