.successful {
    margin: 5vh 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondaryButton {
    background: none;
    text-transform: uppercase;
    color: var(--text);
    padding: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.something {
    background: var(--text);
    height: 5rem;
    width: 5rem;
}