:root {
  --main: #191919;
  --secondary: #2D4263;
  --text: #F5F2E7;
  --textLight: #041C32;
  --mainButLight: #EEEBDD;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 5vh;
  height: 90vh;
  background: var(--main);
  color: var(--text);
}

label {
  margin: 0 0 0.5rem 0;
}

input {
  background: #333232;
  border:none;
  border-radius: 0.25rem;
  color: var(--text);
  padding: 0.5rem 1rem;
}

button {
  border-radius: 40px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}