:root {
  --main: #191919;
  --text: #F5F2E7;
  --secondary:  #333232;
}

[data-theme="light"]{
  --main: #EEEBDD;
  --text: #041C32;
  --secondary:#d3d1c8 ;
  --equis: #2D4263;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h3{
  margin: 0 0 1rem 0;
}

body {
  margin: 5vh;
  height: 90vh;
  background: var(--main);
  color: var(--text);
}

label {
  margin: 0 0 0.5rem 0;
}

input {
  background: var(--secondary);
  border:none;
  border-radius: 0.25rem;
  color: var(--text);
  padding: 0.5rem 1rem;
}

button {
  border-radius: 40px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover{
  transform: scale(.9);
}

button[type=submit]{
  margin: 1rem 0;
  height: 3rem;
  width: 3rem;
  background: var(--text);
}