.login {
    margin: 5vh 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login img {
    width: 100%;
}

.googleButton {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DB4437;
    color: var(--text);
    margin: 1rem 0
}
